.form_container{
	width: 1200px;
	margin: 0 auto;
	.title{
		margin-top: 30px;
		margin-bottom: 0px;
		font-size: 22px;
		text-align: center;
		font-weight: bolder;
		letter-spacing: 2px;
	}
}
.froms{
	padding: 30px;
	padding-left: 0px;
	overflow: hidden;
	.am-form-group{
		.am-form-label{
			font-size: 14px;
			font-weight: 500;
			span{
				color: red;
				font-weight: bold;
				vertical-align: middle;
			}
		}
		.am-radius{
			font-size: 14px;
			height: 35px;
			line-height: 35px;
		}
		p{
			height: 35px;
			padding: 5px;
			border-radius: 2px;
			border: 1px solid #ccc;
			margin-bottom: 0px;
			cursor: pointer;
			&.textarea{
				height: 85px;
				line-height: 25px;
				overflow: hidden;
				word-break: break-all;
			}
		}
		.age{
			span{
				right: 10px;
				font-size: 13px;
			}
		}
		.checkbox.no_limit{
		    height: 35px;
		    line-height: 35px;
		    margin-left: 10px;
		    float: left;
		    font-size: 14px;
		    label{
		    	font-weight: 100;
		    }
		}
		textarea{
			height: 100px;
			font-size: 13px;
		}
	}
}
.am-modal-bd{
	ul{
		overflow: hidden;
		li{
			float: left;
			margin-left: 15px;
			input[type=checkbox], input[type=radio]{
				margin-top: 6px;
			}
		}
	}
	#module_list_container {
		overflow: hidden;
		margin-top: -10px;
		margin-bottom: 5px;
		ul{
			float: left;
			margin-right: 5px;
			li{
				float: none;
				font-size: 13px;
				margin: 0px;
				margin-bottom: 5px;
				border: 1px solid #ccc;
				border-radius: 3px;
				padding: 3px 10px;
				cursor: pointer;
				&.active{
					color: #fafafa;
					background: #0e90d2;
					border: 1px solid #0e90d2;
				}
			}
		}
	}
}


.module_show_list{
	margin-top: 10px;
	ul{
		float: left;
		margin-right: 5px;
		// margin-bottom: -10px;
		li{
			padding: 2px 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin-bottom: 5px;
			font-size: 13px;
			color: #777;
		}
	}
}

// 表单input
.am-form input[type=number], .am-form input[type=search], .am-form input[type=text], .am-form input[type=password], .am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month], .am-form input[type=time], .am-form input[type=week], .am-form input[type=email], .am-form input[type=url], .am-form input[type=tel], .am-form input[type=color], .am-form select, .am-form textarea, .am-form-field{
	padding: .5em;
	font-size: 14px;
	border-radius: 2px;
}