// 配置
@import url('./config.less');
// dialog 
@import url('./dialog.less');
// left
@import url('./left.less');
body{
	background-color: @bodybg;
}
.yx_left{
	float: left;
	width: @leftwidth;
	background: @leftbg;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 1100;
}
.yx_right{
	float: left;
	padding-left: @rightbodypadding;
}

// logo
.yx_left{
	padding: 0px 15px;
	.tpl-logo{
		img{
			width: @logowigth;
			height: auto;
		}
	}
}

// header
.am-topbar-inverse .am-topbar-nav>li>a:focus, .am-topbar-inverse .am-topbar-nav>li>a:hover, .am-topbar-inverse .am-topbar-nav>li.am-active>a, .am-topbar-inverse .am-topbar-nav>li.am-active>a:focus, .am-topbar-inverse .am-topbar-nav>li.am-active>a:hover{
	height: 55px;
	background: none;
}
.am-topbar{
	background: @leftbg;
	border-color: @leftbg;
	height: 55px;
	margin-bottom: 0px;
	.tpl-header-list-user-ico{
		img{
			width: 35px;
			height: 35px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
	.tpl-header-list-user-nick{
		color: @leftactive;
	}
}