.list_header{
	width: 100%;
	padding: 10px;
	background: #fff;
	border-bottom: 1px solid #dedede;
	.list_left{
		float: left;
		margin-bottom: 0px;
		margin-right: 10px;
	}
	.clear{
		clear: both;
	}
	.am-btn-primary{
		color: #fff;
		background-color: #20A8BB;
		border: 1px solid #20A8BB;
		border-radius: 3px;
	}
	.list_btn{
		float: right;
	}
}
.container-fluid{
	min-height: 922px;
    background-color: #fff;
}
.list_table{
	padding: 10px;
}

.am-table{
	th,td{
		text-align: center;
		font-size: 13px;
		&.left{
			text-align: left;
		}
		&.right{
			text-align: right;
		}
	}
	th{
		color: #777;
	}
	td{
		color: #888;
		.am-icon-trash-o{
			font-size: 17px;
		}
		.am-delete{
			color: red;
			margin-left: 10px;
		}
	}
}
.yx_page{
	padding: 0 10px;
	.am-pagination{
		float: right;
	}
}
.am-pagination>li>a, .am-pagination>li>span{
	font-size: 13px;
}
#add-edit-modal .am-modal-hd{
	padding: 10px;
	text-align: left;
}

// 项目管理
.category{
	padding: 20px;
	ul{
		overflow: hidden;
		li{
			font-size: 15px;
			color: #333;
			float: left;
			border: 1px solid #ccc;
			padding: 10px;
			border-radius: 5px;
			cursor: pointer;
			margin: 10px;
			font-weight: bolder;
			small{
				font-size: 13px;
				color: #777;
				font-weight: 100;
			}
			p{
				margin: 0;
				font-size: 14px;
				color: #666;
				font-weight: 100;
			}
		}
	}
}

// 中心管理
.center_admin{
	ul{
		padding: 30px;
		overflow: hidden;
		li{
			position: relative;
			float: left;
			width: 23%;
			height: 160px;
			border: 1px solid #dedede;
			margin: 10px;
			text-align: center;
			padding-top: 40px;
			border-radius: 5px;
			p.code{
				color: #49B6C7;
				font-size: 14px;
				margin-bottom: 10px;
			}
			p.title{
				font-size: 18px;
				font-weight: bolder;
				color: #49B6C7;
				margin-top: 0px;
			}
			span{
				position: absolute;
				right: 10px;
				top: 5px;
				display: none;
				font-size: 13px;
				&.edit{
					right: 25px;
				}
			}
			&:hover{
				span{
					display: block;
					cursor: pointer;
				}
			}
		}
	}
}






