.list_header{
	width: 100%;
	padding: 10px;
	background: #fff;
	border-bottom: 1px solid #dedede;
	.list_left{
		float: left;
		margin-bottom: 0px;
		margin-right: 10px;
	}
	.clear{
		clear: both;
	}
	.am-btn-primary{
		color: #fff;
		background-color: #20A8BB;
		border: 1px solid #20A8BB;
		border-radius: 3px;
	}
	.list_btn{
		float: right;
	}
}
.container-fluid{
	min-height: 922px;
    background-color: #fff;
}
.list_table{
	padding: 10px;
}

.am-table{
	th,td{
		text-align: center;
		&.left{
			text-align: left;
		}
		&.right{
			text-align: right;
		}
	}
	th{
		color: #555;
	}
}